<div class="footer">
    <div class="footer__mission">
        CASIIT Mission Statement
    </div>
    <div class="footer__content">
        <div class="footer__contact">
            <h3 class="footerHeading">Contact</h3>
            <p class="footerText"> Professor Drake: drakegd@pwcs.edu</p>
        </div>
        <div class="footer__apply">
            <h3 class="footerHeading">Apply</h3>
            <p class="footerText">Interested in joining CASIIT?
                <a href="apply here.html">Apply here</a>
            </p>
        </div>
        <div class="footer__socialMedia">
            <h3 class="footerHeading">Social Media</h3>
            <a href="casiitFacebook.html" class="fa fa-facebook"></a>
            <a href="casiitTwitter.html" class="fa fa-twitter"></a>
            <a href="casiitInstagram.html" class="fa fa-instagram"></a>
        </div>
    </div>
    <div class="signature">&copy; Copyright CASIIT. All rights reserved.</div>
</div>