<footer id="footer">
    <div class="footerColumn">
        <h3 class="footerHeader">Contact</h3>
        <p class="footerText">Email Professor Drake at <a class="footerLink" href="mailto:drakegd@pwcs.edu">drakegd@pwcs.edu</a></p>
    </div>
    <div class="footerColumn">
        <h3 class="footerHeader">Apply</h3>
        <p class="footerText">Apply <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=bZqwF-SVHk2F4xzg1N5_wb7MZ5B7FK1Gn56ZkM9HX6xUQk1YWlJURVFYTVhZMTAzRldDVThJWkpXUy4u" class="footerLink">here</a></p>
    </div>
    <div class="footerColumn">
        <h3 class="footerHeader">Social Media</h3>
        <a href="https://www.instagram.com/bhscasiit/" class="fa fa-instagram"></a>
    </div>
    <div class="footerCopyright">&copy; <%=new Date().getFullYear();%> Copyright CASIIT. All rights reserved.</div>
</footer>
