<header id="header" onload="adjustHeaderColor();">

    <a href="/" id="homeLink"><img src="images/fullLogo.svg" id="headerLogo" /></a>

    <nav class="headerNav">
        <span id="verticalAlignmentHelper"></span>
        <ul class="header__nav__list">
            <li class="header__nav__listItem">
                <a href="/FAQ" class="header__nav__listItem__a">FAQ</a>
            </li>
            <li class="header__nav__listItem">
                <a href="/dual-enrollment" class="header__nav__listItem__a">Dual Enrollment</a>
            </li>
            <li class="header__nav__listItem">
                <div class="dropdown">
                    <p class="dropBtn">Student Opportunities
                        <!--i class="fa fa-caret-down"></i>-->
                    </p>
                    <div class="dropdown_content">
                        <a href="/early-college-scholars" class="header__nav__listItem__a">Early College Scholars</a>
                        <a href="/online" class="header__nav__listItem__a">Online Options</a>
                    </div>
                </div>

            </li>
            <li class="header__nav__listItem">
                <div class="dropdown">
                    <p class="dropBtn">Courses
                        <!--i class="fa fa-caret-down"></i>-->
                    </p>
                    <div class="dropdown_content">
                        <a href="/courses/infoTechCourses" class="header__nav__listItem__a">Information Technology</a>
                        <a href="/courses/interactiveMedia" class="header__nav__listItem__a">Interactive Media</a>
                        <a href="/courses/appliedSciences" class="header__nav__listItem__a">Applied Sciences</a>
                    </div>
                </div>

            </li>
        </ul>
    </nav>
</header>