<div class="header">

    <a href="/" class="header__logo"><img src="images/logo.png" /></a>
    <h1 class="header__title"> casiit </h1>
    <h2 class="header__subtitle">Center for Applied Sciences, Interactive and Information Technology</h2>
    <nav class="header__nav">
        <ul class="header__nav__list">
            <li class="header__nav__listItem">
                <a href="/" class="header__nav__listItem__a">Home</a>
            </li>
            <li class="header__nav__listItem">
                <a href="/FAQ" class="header__nav__listItem__a">FAQ</a>
            </li>
            <li class="header__nav__listItem">
                <a href="/dual-enrollment" class="header__nav__listItem__a">NVCC Dual Enrollment</a>
            </li>
            <li class="header__nav__listItem">
                <a href="/early-college-scholars" class="header__nav__listItem__a">Virginia Early College Scholars</a>
            </li>
            <li class="header__nav__listItem">
                <a href="/courses" class="header__nav__listItem__a">Courses</a>
            </li>
            <li class="header__nav__listItem">
                <a href="/online" class="header__nav__listItem__a">Online Summer Options</a>
            </li>
            <!-- <li class="header__nav__listItem">
                <a href="/calendar" class="header__nav__listItem__a">Calendar</a>
            </li>
            <li class="header__nav__listItem">
                <a href="/points" class="header__nav__listItem__a">CASIIT Points</a>
            </li> -->
        </ul>
    </nav>
</div>