<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/early-college-scholars.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Early College Scholars | CASIIT</title>


</head>

<body>
    <%include embeds/header.ejs%>

    <script type="text/javascript" src="js/header.js"></script>
    <script>
        highlightActiveLink("student opportunities", "dropBtn");   
    </script>

    <div class="introSection">
        <h2 class="introSectionTitle">Early College Scholars</h2>

        <div class="introSection__content">
            <p>Earn recognition for earning college credits and taking advanced courses in high school</p>
        </div>
    </div>
    <div class="requirements">
        <h2 class="sectionTitle"> Requirements of Early College Scholars</h2>
        <div class="requirements__content">
            <h3 class="subheading">To qualify for Early College Scholars, you must:</h3>
            <ul class="requirements__content__list">
                <li>Have a "B" average or better</li>
                <li>Be pursuing an Advanced Diploma</li>
                <li>Take and complete at least 15 transferrable credits worth of college courses(AP, IB, Cambridge, DE)
                </li>
            </ul>
        </div>


        <a href="http://www.doe.virginia.gov/instruction/graduation/early_college_scholars/"
            class="programRequirementsLink">
            <button class="requirements__button">
                Learn more about Early College Scholars
            </button>
        </a>

        <a href="http://www.doe.virginia.gov/instruction/graduation/early_college_scholars/early-college-agreement.pdf"
            class="programRequirementsLink">
            <button class="requirements__button">
                Early College Scholars Agreement Form
            </button>
        </a>

    </div>
    <%include embeds/footer.ejs%>
</body>

</html>