<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script>
        // function pageInit() {
        //     let numOfNewsPosts = <%newsPosts.length%>;
        //     if (numOfNewsPosts < 3) {
        //         document.getElementsByClassName("news__posts")[0].style.columns = numOfNewsPosts;
        //     }
        // }
    </script>

    <title>CASIIT</title>

</head>

<body onLoad="pageInit();">
    <%include embeds/header.ejs%>
        <div class="aboutCasiit">
            <h2 class="sectionTitle">CASIIT</h2>

            <p class="aboutCasiit__descriptionP">CASIIT is the specialty program of Battlefield High School to prepare students for the future. This unique high school program encompasses everything from graphic design to computer science.</p>
        </div>

        <div class="news">
            <h2 class="sectionTitle">CASIIT News</h2>
            <div class="news__posts">
                <%
                for(let i = 0; i < newsPosts.length; i++) {
                    let imageURL;
            %>
                    <div class="column">
                        <div class="news__post">
                            <h3 class="news__post__heading">
                                <%=newsPosts[i].heading%>
                            </h3>
                            <%
                        if(newsPosts[i].image) { 
                            imageURL = newsPosts[i].image; 
                        } 
                        else {
                            imageURL = newsPosts[i].heading + ".png"
                        }
                     %>
                                <img class="news__post__image" src="/images/<%=imageURL%>" />
                                <p class="news__post__content">
                                    <%=newsPosts[i].content%>
                                </p>
                        </div>
                    </div>
                    <%
                }
            %>

            </div>
        </div>

        <div class="programRequirements">
            <h3 class="sectionTitle">Program Requirements</h3>
            <div class="programRequirements__subtitle">As a member of the CASIIT program, there are a number of requirements that must be completed to graduate the program.</div>
            <div class="programRequirements__content">

            </div>
        </div>

        <div class="programApplication">
            <h3 class="sectionTitle">Apply to CASIIT</h3>
            <div class="programApplication__content">
                <p>Joining CASIIT has many benefits for students. It is a great way to invest now for the future. Interested in joining?
                    <br />
                    <a href="https://www.pwcs.edu/academics___programs/specialty_programs">
                        <button class="programApplication__content__button">
                        Apply here
                    </button>
                    </a>
                </p>
            </div>
        </div>

        <div class="sponsors">
            <h3 class="sectionTitle">Sponsors</h3>
            <div class="sponsors__content">

            </div>
        </div>

        <%include embeds/footer.ejs%>

</body>

</html>