<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="/js/newsSlideShow.js"></script>

    <title>CASIIT | Home</title>

</head>

<body onLoad="slideShowInit();">
    <%include embeds/header.ejs%>
        <div class="aboutCasiit">
            <h2 class="sectionTitle">CASIIT</h2>

            <p class="aboutCasiit__descriptionP">CASIIT is the specialty program of Battlefield High School to prepare students for the future. This unique high school program encompasses everything from graphic design to computer science.</p>
        </div>

        <div class="news">
            <h2 class="sectionTitle">CASIIT News</h2>
            <div class="news__slideshowContainer">

                <div class="news__slide">
                    <img src="/images/stockPhoto.jpg">
                    <div class="text ">Caption Text</div>
                </div>

                <div class="news__slide">
                    <img src="/images/stockPhoto.jpg">
                    <div class="text ">Caption Two</div>
                </div>

                <div class="news__slide">
                    <img src="/images/stockPhoto.jpg">
                    <div class="text ">Caption Three</div>
                </div>

            </div>
            <br>

        </div>

        <div class="programRequirements ">
            <h3 class="sectionTitle ">Program Requirements</h3>
            <div class="programRequirements__subtitle ">As a member of the CASIIT program, there are a number of requirements that must be completed to graduate the program.</div>
            <div class="programRequirements__content ">

            </div>
        </div>

        <div class="programApplication ">
            <h3 class="sectionTitle ">Apply to CASIIT</h3>
            <div class="programApplication__content ">
                <p>Joining CASIIT has many benefits for students. It is a great way to invest now for the future. Interested in joining?
                    <br />
                    <a href="https://www.pwcs.edu/academics___programs/specialty_programs ">
                        <button class="programApplication__content__button ">
                        Apply here
                    </button>
                    </a>
                </p>
            </div>
        </div>

        <div class="sponsors ">
            <h3 class="sectionTitle ">Sponsors</h3>
            <div class="sponsors__content ">

            </div>
        </div>

        <%include embeds/footer.ejs%>

</body>

</html>