<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;550;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/online.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Options | CASIIT</title>

</head>

<body>
    <%include embeds/header.ejs%>

    <script type="text/javascript" src="js/header.js"></script>
    <script>
        highlightActiveLink("online options");
    </script>

    <div class="main">
        <h2 class="mainTitle">Online Options</h2>
        <h3 class="mainSubtitle">Earn advanced credits by taking online courses during the summer or during the school
            year using our partners. </h3>
    </div>

    <div class="whyOnline">
        <div class="whyOnline_content">
            <h2 class="whyOnline_header">Why should I take online classes?</h2>
            <p class="whyOnlineDesc">
                Online classes are a great option to save some time during the school year or take other courses
                not offered at the school you attend. Students can take courses during the summer or during
                the school year for increased flexibility.
                <br />
                <br />
                These virtual classes include both regular level and advanced level classes such as Pre-AP and AP.
                They're a great option!

                <br />
                <br />
                <br />
                <a href="#onlineOptions" class="inlineLinks purpleText toGreenOnHover">View your options ></a> </p>
        </div>
    </div>

    <div class="onlineOptions">
        <a name="onlineOptions"></a>
        <h2 class="onlineOptions_header">
            What are my Options?
        </h2>
        <div class="onlineOptions_content">
            <div class="gridObject">
                <h3 class="onlineOptions_subheading">Virtual High School</h3>
                <p class="onlineOptions_text">
                    Prince William County has its own virtual course program called VHS. This program is generally
                    students' first option because it is run by the county in which they attend school.
                    <br />
                    <br />
                    <br />

                    <a href="https://virtualhs.pwcs.edu/" class="inlineLinks purpleText toGreenOnHover">
                        Visit the VHS Website >
                    </a>

                </p>
            </div>
            <div class="gridObject vertical_center">
                <img src="/images/online/virtualHighSchoolLogo.png" alt="Virginia Early College Scholars Logo">
            </div>
            <div class="gridObject">
                <h3 class="onlineOptions_subheading">Virtual Virginia</h3>
                <p class="onlineOptions_text">
                    Virtual Virginia is a state run program that offers a larger variety of classes. This is often the
                    choice for students looking to take AP/Pre-AP classes.

                    <br />
                    <br />
                    <br />

                    <a href="https://www.virtualvirginia.org/about/" class="inlineLinks purpleText toGreenOnHover">
                        Visit the Virtual Virginia Website >
                    </a>

                </p>
            </div>
            <div class="gridObject vertical_center">
                <img src="/images/online/virtualVirginiaLogo.png" alt="Virtual Virginia Logo">
            </div>
        </div>
    </div>

    <%include embeds/footer.ejs%>
</body>

</html>