<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/early-college-scholars.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Early College Scholars | CASIIT</title>


</head>

<body>
    <%include embeds/header.ejs%>

    <script type="text/javascript" src="js/header.js"></script>
    <script>
        highlightActiveLink("student opportunities", "dropBtn");   
    </script>


    <div class="introSection">
        <h2 class="introSectionTitle">Program Requirements</h2>

        <div class="introSection__content">
            <p>Earn recognition for earning college credits and taking advanced courses in high school</p>
        </div>
    </div>

</body>

</html>