<!DOCTYPE html>
<html lang="en">
<head>


    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link href="/css/programRequirements.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>CASIIT | Program Requirements</title>
</head>
<body>
    <%include embeds/header.ejs%>

    <div class="main">
        <h1 class="mainTitle">What do I need to do?</h1>
        <h3 class="mainSubTitle">Find out what you need to get into CASIIT and what to do once you're here</h3>
    </div>

    <div class="generalRequirements">    
        <div class="generalRequirements_body">
            <h2 class="generalRequirements_header">All CASIIT students need to meet the following requirements to stay in the program:</h2>
            <div class="generalRequirements_bodyMain">
            
                <ul class="generalRequirements_list">
                    <li>Maintain a minimum of a 2.5 GPA in CASIIT courses alone</li>
                    <li>Maintain a minimum of a 2.5 GPA in all courses (this is seperate from the first requirement)</li>
                    <li>Take at least one CASIIT course every year in the program</li>
                    <li>Complete the student CASIIT portfolio <a href="casiit_portfolio">Go here</a> to find more about how to write this</li>
                    <li>Complete 10 hours of documented CASIIT Outreach/Community Service</li>
                    <li>Maintain satisfactory behavior</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="goldMedal">
        <h2 class="goldMedal_header">Gold Medal</h2>
        <div class="goldMedal_left">
            <p>There are two levels of recognition you can earn from the program: gold and silver.  </p>
        </div>
    </div>


    <div class="silverMedal">
        <h2 class="silverMedal_header">Silver Medal</h2>
        <div class="silverMedal_left">

        </div>
        
    </div>

        
 

    <%include embeds/footer.ejs%>
</body>
</html>