.deHeader {
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    min-height: 50vh;
    color: black;
    background: url('../images/de/mainBackground.svg') no-repeat bottom;
    background-size: 100%;
}

.deHeaderTitle {
    font-size: 2em;
    font-weight: 700;
    color: var(--purpleOnBlack);
    margin-bottom: 50px;
}

.deHeader__content {
    margin: 10px;
    font-size: 1.2em;
    color: white;
}

.whatIsDE {
    text-align: center;
    min-height: 40vh;
    padding: 75px;
    background-color: #fdfdfd;
    color: black;
}

.whatIsDETitle {
    font-size: 2em;
    color: var(--themePurple);
    margin-bottom: 75px;
}

.whatIsDEContent {
    margin: 0 auto;
    text-align:left;
    width: 50%;
    font-size: 1.1em;
}

.whatIsDEContent p {
    line-height: 1.5em;
    margin-top: 15px;
    font-weight: 500;
}

.whyDE {
    margin-top: 100px;
    padding: 30px;
    padding-top: 40px;
    text-align: center;
    min-height: 50vh;
    font-family: 'Quicksand';
}

.whyDETitle {
    font-size: 2em;
    color: var(--themePurple);
}

.whyDEContent {
    width: 40%;
    margin:0 auto;
    text-align: left;
    margin-top: 60px;
    color: #004200;
}

.whyDE__list {
    list-style-type: none;
}

.whyDE__list li {
    padding-top: 10px;
    font-weight: 500;
}

.whyDE__list span {
    display: inline;
    color: green;
}

.howToDE {
    padding: 100px;
    padding-top: 75px;
    text-align: center;
    min-height: 80vh;
    text-align: left;
    font-family: 'Quicksand';
    background-image: linear-gradient(45deg, #50088A, #652D92);
}

.howToDE .sectionTitle {
    color: #B4C8FF;
    font-size: 2em;
    margin-bottom: 80px;
    font-weight: 600;
}   

.howToDE__content {
    width: 60%;
}

.howToDE__list {
    counter-reset: item;

}

.howToDE__list li {
    padding-top: 10px;
    margin-top: 15px;
    color: #f8f8f8;
    font-size: 1.1em;
    font-weight: 500;
    display: block;
}

.howToDE__list li::before {
    display: inline-block;
    content: counter(item) ") ";
    counter-increment: item;
    margin-right: .3em;
}

.howToDE__list a {
    color: var(--themeGreen);
}

.deCasiitCourses {
    padding: 75px;
    padding-top: 40px;
 
    text-align: center;
    min-height: 60vh;
    font-family: 'Quicksand';
    color: black;
    background-color: white;
}

.deCasiitCoursesTitle {
    font-size: 2em;
    font-weight: 600;
}

.deCasiitCourses__content {
    margin-top: 80px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    text-align: center;
}

.deCasiitCourses__content__col {
    text-align: left;
    margin: 0 auto;
    width: 50%;
}

.deCasiitCourses__content__col__header {
    text-align: center;
    font-size: 1.3em;
}

.deCasiitCourses__content__col__list {
    padding-top: 15px;
}

.deCasiitCourses__content__col__list li {
    padding-top: 6px;
}

.deCasiitCourses__content__col__list li::marker {
    content: "✽";
    color: #652d92;
}

.moreDetailsButton {
    margin: 50px;
    background-color:rgb(10, 97, 10)
}