html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.header {
    text-align: center;
    /*display: block; */
}

.header__logo {
    display: inline-block;
    vertical-align: middle;
}

.header__title {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Sofia', cursive;
    font-size: 4.5em;
}

.header__subtitle {
    font-family: 'Quicksand', sans-serif;
}

.header__nav {
    margin-top: 10px;
    padding: 10px;
    background-color: #652d92;
}

.header__nav__listItem {
    list-style: none;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.header__nav__listItem__a {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.sectionTitle {
    font-size: 2em;
    font-family: 'Quicksand';
}

.aboutCasiit {
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    height: 50vh;
    color: white;
    background-color: #070607;
}

.aboutCasiit__title {
    font-size: 2em;
    font-family: 'Quicksand';
}

.aboutCasiit__descriptionP {
    font-family: 'Quicksand';
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    font-size: 1.25em;
}

.news {
    min-height: 600px;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    background-color: #e7e7e7;
    font-family: 'Quicksand';
}

.news__title {
    font-size: 2em;
}

.news__posts {
    margin-top: 25px;
    padding: 20px;
}

.news__posts:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
}

.news__post {
    padding: 0;
    border: 2px solid black;
    max-width: 350px;
}

.news__post__heading {
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #652d92;
}

.news__post__image {
    width: 100%;
    height: 250px;
}

.news__post__content {
    padding: 5px 10px;
    text-align: left;
}

.programRequirements {
    height: 45vh;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
}

.programRequirements__title {
    font-size: 2em;
    font-family: 'Quicksand';
}

.programRequirements__subtitle {
    margin: 10px;
    font-size: 1.2em;
    font-family: 'Quicksand';
}

.programRequirements__content {
    float: left;
}

.programApplication {
    border-top: 1px solid #652d92;
    height: 45vh;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Quicksand';
}

.programApplication__content {
    margin-top: 10px;
}

.programApplication__content__button {
    width: 200px;
    margin-top: 40px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: .3s;
    font-family: 'Quicksand';
}

.programApplication__content__button:hover {
    background-color: #652d92;
    cursor: pointer;
}

.sponsors {
    color: white;
    height: 45vh;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    background-color: #070607;
}

.sponsors__title {
    font-size: 2em;
    font-family: 'Quicksand';
}

.footer {
    background-color: #652d92;
    padding: 30px;
    min-height: 200px;
    color: white;
    text-align: center;
    font-family: 'Quicksand';
}

.footer__content {
    margin-top: 40px;
    columns: 3;
}

.footerHeading {
    font-size: 2em;
}

.footerText {
    font-size: 15px;
}

.footerText a {
    color: darkgray;
    text-decoration: none;
}

.footerText a:hover {
    text-decoration: underline;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.signature {
    margin-top: 40px;
}


/* #d4d4d4 */