.main {
    min-height: 35vh;
    background: url('../images/courses/ITMainBackground.svg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 75px;
}

.mainTitle {
    font-size: 2em;
    font-weight: 600;
    color: #97FFCF;
}

.whatITCourses {
    min-height: 40vh;
    background-color: #E8E8E8;
    text-align: center;
    padding: 60px;
}

.whatITCourses_content {
    width: 60%;
    height: 75%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .4);
    padding: 50px;
    border-radius: 15px;
    color: black;
    text-align:left;
}

.whatITCourses_heading {
    opacity: 1; 
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 50px;
}

.whatITCourses_desc {
    font-size: 1.05em;
    font-weight: 400;
}

.listCourses {
    padding: 80px;
    text-align: center;
    background-color: white;
}

.listCourses_heading {
    font-weight: 600;
    font-size: 2em;
    color: var(--themePurple);
    margin-bottom: 50px;
}

.listCourses_table {
    width: 100%;
    padding: 15px;
    text-align: left;
    border-spacing: 0;
}

.listCourses_tableContainer {
    background-color: rgba(238, 238, 238, 0.6);
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
}

.listCourses_table th {
    font-weight: 550;
    text-align: center;
    border: 1px solid black;
    border-spacing: 0;
    padding: 20px;
    color: var(--themePurple);
}

.listCourses_table td {
    font-weight: 500;
    border: 1px solid black;
    border-spacing: 0;
    padding: 20px;
    
}
.listCourses_table tr {
    margin: 10px;
}

.listCourses_table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.listCourses_table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.listCourses_table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.listCourses_table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}