.main {
    min-height: 40vh;
    background: #262626 url('../images/online/Group\ 26.svg') no-repeat top center;
    background-size: 100%;
    text-align: center;
    padding: 50px;
}

.mainTitle {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 30px;
    color: var(--themePurple);
}

.mainSubtitle {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

.whyOnline {
    min-height: 60vh;
    color: whitesmoke;
    background-color: #262626;
    padding: 75px;
}

.whyOnline_header {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 75px;
    color: var(--purpleOnBlack);
}

.whyOnline_content {
    width: 60%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.05em;
}










.onlineCoursesIntro {
    min-height: 600px;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    background-color: #e7e7e7;
    font-family: 'Quicksand';
}

.onlineCoursesIntro__content {
    font-size: 1.2em;
}

.onlineCoursesIntro__col {
    float: left;
    width: 50%;
    margin-top: 50px;
    padding: 40px;
}

.onlineCoursesIntro__col__header {
    font-size: 1.5em;
}

.onlineCoursesIntro__col img {
    margin-top: 25px;
    width: 300px;
    height: 75px;
}

.onlineCoursesIntro__col__description {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.1em;
    text-align: justify;
}

.onlineCoursesIntro__col__moreInfoButton {
    width: 200px;
    margin-top: 40px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: .3s;
    font-family: 'Quicksand';
}

.onlineCoursesIntro__col__moreInfoButton:hover {
    background-color: #652d92;
    cursor: pointer;
}

.onlineOptions {
    background-color: white;
    text-align: center;
    padding: 60px;
    min-height: 60vh;
}

.onlineOptions_header {
    color: var(--themePurple);
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 50px;
}

.onlineOptions_content {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    row-gap: 125px;
    column-gap: 50px;
    text-align: left;
    max-width: 65%;
}

.onlineOptions_subheading {
    color: var(--themePurple);
    margin-bottom: 40px;
    font-size: 1.2em;
    font-weight: 550
}

.onlineOptions_text {
    font-size: 1em;
    font-weight: 500;
    max-width: 80%;
}

.vertical_center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.onlineOptions_content img {
    width: 250px;
}