b {
    font-weight: 700;
}
.main {
    background-color: var(--themePurple);
    text-align: center;
    color: white;
    padding: 60px;
    min-height: 20vh;
}

.mainTitle {
    font-size: 2em;
    font-weight: 600;
}

.mainSubTitle {
    margin-top: 30px;
}

.generalRequirements {
    text-align: center;
    width: 100%;
    background: #f5f5f5 url("../images/programRequirements/medals.png") no-repeat center;
    background-size: contain;
    min-height: 50vh;
    display: flex;
}

.generalRequirements_body {
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    background-color: #f8f8f8e6;
    padding: 80px;
    
}

.generalRequirements_header {
    font-size: 1.4em;
    margin-bottom: 60px; 
}

.generalRequirements_list li {
    margin-bottom: 7px;
}

.generalRequirements_bodyMain {
    text-align: left;
    width: 30%;
    margin: 0 auto;
}

.goldMedal {
    background-color: #97700c05;
    padding: 80px;
    text-align: center;
    min-height: 50vh;
}

.goldMedal_header {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 50px;
    color: goldenrod;
}

.goldMedal_body {
    margin: 0 auto;
    width: 65%;
}

.programRequirementsList {
    margin-top: 25px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.programRequirementsList li {
    list-style-type: none;
    width: 325px;   
    height: 120px;
    border: 4px solid goldenrod;
    border-radius: 12px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    margin: 50px;
    background-size: 100%;
    background-color: rgb(228, 228, 228); 
}

.programRequirements_numbering {
    width: 40%;
    height: 100%;
    /* background-color: ; */
    color: goldenrod;
    display:table;
    float: left;
}

.programRequirements__number {
    display: table-cell;
    vertical-align: middle;
    font-size: 3.75em;
}

.programRequirements_liContent {
    float: right;
    width: 60%;
    height: 100%;
    display:table;
    background-color: whitesmoke;
    padding: 10px;
}

.programRequirements_liContentText {
    display:table-cell;
    vertical-align: middle;
    font-weight: 500;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.clear {
    clear: both;
}

.silverMedal {
    background-color: #f5f5f5;
    padding: 80px;
    text-align: center;
    min-height: 50vh;
}

.silverMedal_header {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 50px;
    color: #8f8f8f;
}

.silverMedal_body {
    color: black;
    margin: 0 auto;
    width: 65%;
}

.silverRequirementsList {
    margin-top: 25px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.silverRequirementsList li {
    list-style-type: none;
    width: 325px;   
    height: 120px;
    border: 4px solid silver;
    border-radius: 12px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    margin: 50px;
    background-size: 100%;
    background-color: #2c2c2c; 
}

.silverRequirements_numbering {
    width: 40%;
    height: 100%;
    /* background-color: ; */
    color: var(--purpleOnBlack);
    display:table;
    float: left;
}

.silverRequirements__number {
    display: table-cell;
    vertical-align: middle;
    font-size: 3.75em;
}

.silverRequirements_liContent {
    float: right;
    width: 60%;
    height: 100%;
    display:table;
    background-color: #4b4b4b;
    padding: 10px;
}

.silverRequirements_liContentText {
    display:table-cell;
    vertical-align: middle;
    font-weight: 500;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

/* Bronze Section starts */

.bronzeMedal {
    background-color: #cd803210;
    padding: 80px;
    text-align: center;
    min-height: 50vh;
}

.bronzeMedal_header {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 50px;
    color: #cd7f32;
}

.bronzeMedal_body {
    color: black;
    margin: 0 auto;
    width: 65%;
}

.bronzeRequirementsList {
    margin-top: 25px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.bronzeRequirementsList li {
    list-style-type: none;
    width: 325px;   
    height: 120px;
    border: 4px solid #cd7f32;
    border-radius: 12px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    margin: 50px;
    background-size: 100%;
    background-color: #bdbdbd; 
}

.bronzeRequirements_numbering {
    width: 40%;
    height: 100%;
    /* background-color: ; */
    color: #cd7f32;
    display:table;
    float: left;
}

.bronzeRequirements__number {
    display: table-cell;
    vertical-align: middle;
    font-size: 3.75em;
}

.bronzeRequirements_liContent {
    float: right;
    width: 60%;
    height: 100%;
    display:table;
    background-color: #d3d3d3;
    padding: 10px;
}

.bronzeRequirements_liContentText {
    display:table-cell;
    vertical-align: middle;
    font-weight: 500;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}