.main {
    background-color: var(--themePurple);
    text-align: center;
    color: white;
    padding: 60px;
    min-height: 20vh;
}

.mainTitle {
    font-size: 2em;
    font-weight: 600;
}

.mainSubTitle {
    margin-top: 30px;
}

.generalRequirements {
    text-align: center;
    width: 100%;
    background: rgb(247, 247, 247) url("../images/programRequirements/medals.png") no-repeat center;
    background-size: contain;
    min-height: 50vh;
    display: flex;
}

.generalRequirements_body {
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    background-color: rgba(248, 248, 248, 0.9);
    padding: 80px;
    
}

.generalRequirements_header {
    font-size: 1.4em;
    margin-bottom: 60px; 
}

.generalRequirements_list li {
    margin-bottom: 7px;
}

.generalRequirements_bodyMain {
    text-align: left;
    width: 30%;
    margin: 0 auto;
}

.goldMedal {
    background-color: rgba(151, 112, 12, 0.02);
    padding: 80px;
    text-align: center;
    min-height: 50vh;
}

.goldMedal_header {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 50px;
    color: goldenrod;
}

.goldMedal_body {
    margin: 0 auto;
    width: 50%;
    /* font-size: 1.2em; */
}

.programRequirementsList {
    margin-top: 25px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.programRequirementsList li {
    list-style-type: none;
    width: 325px;   
    height: 120px;
    border: 4px solid black;
    border-radius: 12px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    margin: 50px;
    background-size: 100%;
    background-color: rgb(228, 228, 228); 
}

.programRequirements_numbering {
    width: 40%;
    height: 100%;
    /* background-color: ; */
    color: goldenrod;
    display:table;
    float: left;
}

.programRequirements__number {
    display: table-cell;
    vertical-align: middle;
    font-size: 3.75em;
}

.programRequirements_liContent {
    float: right;
    width: 60%;
    height: 100%;
    display:table;
    background-color: whitesmoke;
    padding: 10px;
}

.programRequirements_liContentText {
    display:table-cell;
    vertical-align: middle;
    font-weight: 500;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.clear {
    clear: both;
}

.silverMedal {
    background-color: #1f1f1f;
    padding: 80px;
    text-align: center;
    min-height: 50vh;
}

.silverMedal_header {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 50px;
    color: silver;
}